/* this is global */
* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.text-primary {
    color: #FD6E0A;
}

/* header and navigation style */
header{
    background-color: #FFF8F3;
    background-image: url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
}
nav {
    display: flex;
    justify-content: space-between;
}

.nav-title {
    color: var(--dark-01, #181818);
    font-size: 45px;
    font-weight: 800;
    margin: 51px 0px 0px 226px;
}

nav li {
    list-style: none;
}

nav ul {
    display: flex;
    text-decoration: none;
    justify-content: space-between;
}

.option {
    display: flex;
    justify-content: space-between;
    margin: 68px 431px 0px 633px;
}

.option li {
    margin-left: 40px;
}

.option li a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
}

.button-portfolio li a {
    text-decoration: none;
    padding: 18px 35px 19px 36px;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    color: var(--white-color, #FFF);
}

.button-portfolio li button {
    width: 150px;
    height: 64px;
    border-radius: 5px;
    background: #FD6E0A;
    border-color: #FD6E0A;
    border: none;
}

.button-portfolio li {
    margin: 50px 230px 0px -380px;
}

/* banner styles */

.banner {
    margin: 0px 200px;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner-title {
    color: var(--dark-02, #474747);
    font-size: 45px;
    font-weight: 600;
}

.banner-description {
    color: var(--dark-01, #181818);
    font-size: 85px;
    font-weight: 700;
}

.banner-paragraph {
    color: var(--dark-03, #757575);
    font-size: 18px;
    font-weight: 400;
    margin-top: 20px;
}

.banner-button{
    display: flex;
}